@model WorldRef.Models.PromotionLibraryModels.PromotionProductListDAO
@{
    ViewBag.Title = "Associate Promotion List";
    Layout = "~/Views/Shared/_LayoutAssociate.cshtml";
}
<div id="content-wrapper">
<section>
    <style type="text/css">
	.one-fourth {
  width: 48% !important;
  margin: 1% 0.4% 2% .4%;
  list-style-type: none;
}
.proj-description {
  min-height: 166px;
}
.proj-description h3{padding-left:12px;}
.dis_project {
  text-align: left;
  height: 94px;
  overflow: auto;
  border: 1px solid lightgrey;
  padding: 9px;
  margin: 10px;
  box-shadow: 0px 3px 15px 1px #ddd;
}
.title-hydro li {
  line-height: 15px;
  font-size: 11px;
  list-style-type: none;
}
.title-hydro li > span, .projectuser-text {
  font-weight: 700;
}
        /*Here we will add css for style webgrid*/
        .webgrid-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 100%;
            display: table;
            border-collapse: separate;
            background-color: white;
            border-bottom: 1px solid #F47D7D;
        }

            .webgrid-table tbody tr {
                border-bottom: 1px solid #F47D7D;
            }

                .webgrid-table tbody tr td {
                    border-bottom: none;
                    border-left: 1px solid #F47D7D;
                    font-size: 14px !important;
                }

        table th {
            background: #E47E7E !important;
            color: #fff !important;
        }

            table th a {
                color: #fff !important;
            }

                table th a:hover {
                    color: #fff !important;
                }

        .webgrid-table td, th {
            border-top: 1px solid #F47D7D;
            border-left: 1px solid #F47D7D;
            padding: 3px 7px 2px;
        }

            .webgrid-table td:last-child, th:last-child {
                border-right: 1px solid #F47D7D;
            }

        .webgrid-header {
            background-color: #A7C942;
            color: #FFFFFF;
            padding-bottom: 4px;
            padding-top: 5px;
            text-align: left;
        }

        .webgrid-footer {
        }

        .webgrid-row-style {
            padding: 3px 7px 2px;
        }

        .webgrid-alternating-row {
            background-color: #EAF2D3;
            padding: 3px 7px 2px;
        }

        #filter {
            height: 15px;
            margin-top: 10px;
            width: 130px !important;
        }

        #search-cus {
            font-weight: 600;
            margin-left: 7px;
        }

        #proposal {
            font-size: 18px;
            font-weight: 600;
            margin-left: 160px;
        }

        .myTable {
            width: 100%;
        }

            .myTable tr:nth-child(even) {
                background: #EAF2D3;
            }

            .myTable tr:nth-child(odd) {
                background: #fff;
            }
    </style>
    <form>
		<ul class="projects-slider">
        		    @foreach (var item in Model._Productlist)
                                    {				
	<li class="project one-fourth">
                       
                        <div class="proj-description" style="text-align:left;">
							<h3>Products</h3>
							 <ul class="title-hydro dis_project">
                                 <li><span>Product Name : </span>@item.ProductName</li>
                                    <li><span>Brochure : </span><a href="~/Content/PromotionFile/@item.ProductBrochure" target="_blank">@item.ProductBrochure</a></li>
                                    <li><span>U.R.S Format : </span><a href="~/Content/PromotionFile/@item.URSFormat" target="_blank">@item.URSFormat</a></li>
                             </ul>
                        </div>
						</li>
              }			
            @foreach (var item in Model.documentlist)
                                    {
	                    <li class="project one-fourth">
                       
                        <div class="proj-description" style="text-align:left;">
							<h3>Other Documents</h3>
							 <ul class="title-hydro dis_project">
                                 @*<li><span>Document Name :</span>@item.OtherDocumentName</li>*@
                                 <li><a href="~/Content/PromotionFile/@item.DocumentAttachment" target="_blank" title="Click For Download">@item.OtherDocumentName</a></li>
							     
                                                                
                             </ul>							 
						</div>
						</li>
            }
					
              @foreach (var item in Model.certificatelist)
                                {
	                  <li class="project one-fourth">
                       
                        <div class="proj-description" style="text-align:left;">
							<h3>Certificates</h3>
							 <ul class="title-hydro dis_project">
                              @*   <li><span>Certificates Name :</span>@item.CertificateName</li>*@
                                 <li><a href="~/Content/PromotionFile/@item.CertificateAttachment" target="_blank" title="Click For Download">@item.CertificateName</a></li>
							    
                                                                 
                             </ul>							 
							
							
                        </div>
						</li>
              }
						
	                <li class="project one-fourth">
                       
                        <div class="proj-description" style="text-align:left;">
							<h3>Industries</h3>
							 <ul class="title-hydro dis_project">
                               
                                  @foreach (var item in Model.cindustrylist)
                                {
                                 <li>@item.IndustriesName</li>
                                  }
							      
                                                                  
                             </ul>							 
							
							
                        </div>
						</li>					
       
		</ul>
    </form>
</section>
	</div>
