@model IEnumerable<WorldRef.Models.WorldRefExcelDataModel>
@{
    Layout = "~/Views/Shared/LayoutSearch.cshtml";
}
@{
    var msg = TempData["msg"] ?? string.Empty;
    TempData["msg"] = "";
    var msgColor = TempData["vColor"] ?? string.Empty;
    TempData["vColor"] = "";
    var msgsucc = TempData["SuccessMessage"] ?? string.Empty;
    TempData["SuccessMessage"] = "";
}
<script type="text/javascript">
 $('#SearchValue').keypress(function (e) {
        // alert("Called");
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            Search();
        }
 });
    </script>
<style>
    .profile_part2 {
    border: 1px solid #C7C7C7;
    background: #FBF9F9;
  
}
    .update_button {
        line-height: 21px;
        border-radius: 0;
    }
    ul#ModelData {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
    }
</style>
<link href="~/Content/css/Fancy/jquery.fancybox.css" rel="stylesheet" />
<div id="ModelpopUp" style="display: none">
    <p id="PModelpopUp" style="padding: 10px; color: red;">
        @msg
    </p>
</div>
<div id="content-wrapper">
    <section id="main-content" role="main">
        <div id="loading" style="display: none;">
            <img id="loading-image" src="/Content/WorldRef/images/ringUploader.gif" alt="Loading..." />
        </div>
        <h2 class="listh2">My Projects</h2>
        @*<div>
                @Html.TextBox("filter", "", null, new
                                                              {
                                                                  autocomplete = "On",
                                                                  onChange = "$('form').submit()",
                                                                  placeholder = "Search"
                                                              })
            </div>*@
@using (Html.BeginForm("ListExcelProjectsUser", "WorldRef", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="filter_list_search">
            <div class="project_mainbox">
                <ul>
                    <li><a href='@Url.Action("ListExcelProjectsUser", "WorldRef")' class="liaD active" id="AllProjects">All References</a></li>
                    @if (@ViewBag.approveCount > 0)
                    {
                        <li id="badgeData">
                            <a href="javascript:void(0)" id="showApproved" onclick="ShowApprovedData()" class="liaD badge1 activeApproveShow" data-badge="@ViewBag.approveCount">Live in Search</a>

                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="javascript:void(0)" id="hideApproved" class="liaD" onclick="ShowApprovedData()">Live in Search</a>
                        </li>
                    }

                    @if (@ViewBag.DisapproveCount > 0)
                    {
                        <li>
                            <a href="javascript:void(0)" id="showDisapproved" onclick="ShowDisApprovedData()" class="liaD badge2 activeDisApproveShow" data-badge="@ViewBag.DisapproveCount">Review and Resubmit </a>


                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="javascript:void(0)" id="hideDisapproved" class="liaD" onclick="ShowDisApprovedData()">Review and Resubmit </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="listRight">
                <a href="javascript:void(0)" id="AddProject" onclick="OpenPopUpAddProject()" class="liBtn"><i class="fa fa-plus fff"></i>Add Reference</a>
                <button type="submit" class="liBtn update_button" id="UpdateProject" name="Command" value="UpdateRefrence">Update Refrence</button>
                 @*<button type="submit" id="UpdateProject" name="Command" value="UpdateRefrence">Update Refrence</button>*@ 
                 @*<a href="javascript:void(0)" id="UpdateProject" name="command" value="UpdateRefrence" title="Update References using Excel" class="liBtn"><i class="fa fa-file-excel-o fff"></i></a>*@

            
            </div>
        </div>
        @*  @if (msg != "")
            {

                <span style="color: red;">@msg</span>

            }*@


    //<button type="submit" class="liBtn" id="UpdateProject" name="Command" value="UpdateRefrence">Update Refrence</button>

    int k = 0;
            <ul class="list-ul" id="ModelData">

                @foreach (var item in Model)
                {
                    int i = 0;
                    int j = 0;
                    if (item.IsAuthorized == 0)
                    {
                        <li class="project one-third">
                            <div class="proj-description responsiveQ fW">

                                <div class="list_container">
                                    <div class="scroll-hydro">
                                        <span class="projectuser-text">Reference Name </span>:  @Html.DisplayFor(modelItem => item.ProjectName)
                                        <br />
                                        <span class="projectuser-text">By </span>:  @Html.DisplayFor(modelItem => item.OrganizationName)
                                        <br />
                                        <span class="projectuser-text">For </span>:   @Html.DisplayFor(modelItem => item.CustomerName)
                                        <br />
                                        <span class="projectuser-text">For Industry </span>:       @Html.DisplayFor(modelItem => item.CustomerIndustryType)
                                        <br />
                                        <span class="projectuser-text">Contribution </span>:         @Html.DisplayFor(modelItem => item.Type)
                                        <br />
                                        <span class="projectuser-text">Country of Execution </span>:          @Html.DisplayFor(modelItem => item.Country)
                                        <br />
                                        <span class="projectuser-text">Status </span>:       @Html.DisplayFor(modelItem => item.Status)
                                        <br />
                                        <span class="projectuser-text">Year of Execution </span>:       @Html.DisplayFor(modelItem => item.Year)
                                        <br />


                                        <span class="projectuser-text">We Are </span>:       <span style="    padding-left: 11px;">@Html.DisplayFor(modelItem => item.UserType)</span>
                                        <br />
                                        <span class="projectuser-text">Search Keywords </span>:@Html.DisplayFor(modelItem => item.SearchKeywords)
                                        <br />
                                        @{
                        if (string.IsNullOrEmpty(item.Description))
                        {
                            <span class="projectuser-text">Description :</span><textarea class="form-control" id="@item.id" placeholder="Write more about this reference"></textarea>
                                            <div class="buttonDiv">
                                                <input type="button" class="saveButton" onclick="SaveDescription(@item.id)" value="Save" />
                                            </div>
                        }
                        else
                        {
                            <span class="projectuser-text">Description :</span>
                                            @Html.TextAreaFor(model => item.Description, new { @class = "form-control", Description = item.Description, id = @item.id, placeholder = "Write more about this reference" })
                                            <div class="buttonDiv">
                                                <input type="button" class="saveButton" onclick="SaveDescription(@item.id)" value="Save" />
                                            </div>


                                            @*<span class="projectuser-text">Description :</span><input type="text" id="@item.id" style="width: 169px; margin-left:10px;font-size:10px;" placeholder="Write more about this reference" />*@

                                            @*<span class="projectuser-text">Description :&nbsp;</span>@Html.DisplayFor(modelItem => item.Description);
                                                <br />*@
                        }
                                        }
                                    </div>
                                    <div class="colorStrip fW">
                                        <span class="projectimg-icon">
                                            <a href="javascript:void(0)" onclick="OpenPopUpImages(@item.id)">
                                                <img src="~/Content/WorldRef/images/addImages.png" title="Add images/videos" />
                                            </a>
                                        </span>

                                        @foreach (var img in item.listOfImages)
                                        {

                                            if (j == 0)
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="~/Content/WorldRef/images/viewimages.png" data-thumbnail="~/Content/WorldRef/images/viewimages.png" class="fancybox" data-group="@k">
                                                        dfgfd
                                                        <img src="~/Content/WorldRef/images/viewimages.png" title="View images/videos" />

                                                    </a>
                                                </span>
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenPopUpDeleteImages(@item.id)">
                                                        <img src="~/Content/WorldRef/images/deleteImg.png" title="Delete images/videos" />

                                                    </a>
                                                </span>
                                                j++;
                                            }
                                        }
                                        <span class="projectimg-icon">
                                            <a href="javascript:void(0)" onclick="OpenPopUp(@item.id)">
                                                <img src="~/Content/WorldRef/images/edit-project.png" title="Edit Project" />
                                            </a>
                                        </span>
                                        <span class="projectimg-icon">
                                            <a href="javascript:void(0)" onclick="OpenPopUpCertificates(@item.id)">
                                                <img src="~/Content/images/btUpload.png" title="Upload Certificates" />

                                            </a>
                                        </span>
                                        @*  @if (item.creditM == 1)
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenCreditPopUp(@item.id)">
                                                        <img src="~/Content/images/creditred.png" title="Approve their Contribution" />

                                                    </a>

                                                </span>
                                            }
                                            else
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenCreditPopUp(@item.id)">
                                                        <img src="~/Content/images/credit.png" title="Approve their Contribution" />

                                                    </a>
                                                </span>
                                            }
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenApprovedCreditPopUp(@item.id)">
                                                    <img src="~/Content/images/viewcredits.png" title="View Contributors" />

                                                </a>
                                            </span>

                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenPopUpCertificates(@item.id)">
                                                    <img src="~/Content/images/btUpload.png" title="Upload Certificates" />

                                                </a>
                                            </span>


                                            @if (item.reviewFag != "0")
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenUserReview(@item.id)">
                                                        <img src="/Content/WorldRef/images/red-docs.png" id="showR" title="Approve Review">
                                                    </a>

                                                </span>
                                            }
                                            else
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenUserReview(@item.id)">
                                                        <img src="/Content/WorldRef/images/Comment.png" title="View Review" id="showB">
                                                    </a>
                                                </span>
                                            }



                                            @if (@item.countflg == "True")
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(@item.id)">
                                                        <img src="/Content/WorldRef/images/like-button.png" title="Total Likes" id="show">
                                                        <img src="/Content/WorldRef/images/like-20.png" style="display: none;" title="Total Likes" id="hide">
                                                        <label class="like-color">@item.countApprove</label>
                                                    </a>

                                                </span>
                                            }
                                            else
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(@item.id)">
                                                        <img src="/Content/WorldRef/images/like-20.png" title="Total Likes">
                                                        <label class="like-color">@item.countApprove</label>
                                                    </a>

                                                </span>


                                            }
                                        *@


                                    </div>
                                </div>
                            </div>
                            @foreach (var img in item.listOfImages)
                            {

                                if (img.ImagePath.Contains(".png") || img.ImagePath.Contains(".bmp") || img.ImagePath.Contains(".jpg"))
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay" src="~/uploads/@img.ImagePath" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/@img.ImagePath" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    i++;
                                }
                                else if (img.Link == false)
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay1" src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }

                                }
                                else
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay2" src="~/uploads/video-play-2.gif">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                }
                            }
                        </li>
                    }
                    else if (item.IsAuthorized == 1)
                    {
                        <li class="project one-third">
                            <div class="proj-description responsiveQ fW" style="background: #E7FFE7;">
                                <div class="list_container">
                                    <div class="scroll-hydro">
                                        <span class="projectuser-text">Reference Name </span>:  @Html.DisplayFor(modelItem => item.ProjectName)
                                        <br />
                                        <span class="projectuser-text">By </span>:  @Html.DisplayFor(modelItem => item.OrganizationName)
                                        <br />
                                        <span class="projectuser-text">For </span>:   @Html.DisplayFor(modelItem => item.CustomerName)
                                        <br />
                                        <span class="projectuser-text">For Industry </span>:       @Html.DisplayFor(modelItem => item.CustomerIndustryType)
                                        <br />
                                        <span class="projectuser-text">Contribution </span>:         @Html.DisplayFor(modelItem => item.Type)
                                        <br />
                                        <span class="projectuser-text">Country of Execution </span>:          @Html.DisplayFor(modelItem => item.Country)
                                        <br />
                                        <span class="projectuser-text">Status </span>:       @Html.DisplayFor(modelItem => item.Status)
                                        <br />
                                        <span class="projectuser-text">Year of Execution </span>:       @Html.DisplayFor(modelItem => item.Year)
                                        <br />


                                        <span class="projectuser-text">We Are </span>:       <span style="    padding-left: 11px;">@Html.DisplayFor(modelItem => item.UserType)</span>
                                        <br />
                                        <span class="projectuser-text">Search Keywords </span>:@Html.DisplayFor(modelItem => item.SearchKeywords)
                                        <br />
                                        @{
                        if (string.IsNullOrEmpty(item.Description))
                        {
                            <span class="projectuser-text">Description :</span><textarea class="form-control" id="@item.id" placeholder="Write more about this reference"></textarea>
                                            <div class="buttonDiv">
                                                <input type="button" class="saveButton" onclick="SaveDescription(@item.id)" value="Save" />
                                            </div>
                        }
                        else
                        {
                            <span class="projectuser-text">Description :</span>
                                            @Html.TextAreaFor(model => item.Description, new { @class = "form-control", Description = item.Description, id = @item.id, placeholder = "Write more about this reference" })
                                            <div class="buttonDiv"> <input type="button" class="saveButton" onclick="SaveDescription(@item.id)" value="Save" /></div>

                                            @*<span class="projectuser-text">Description :</span><input type="text" id="@item.id" style="width: 169px; margin-left:10px;font-size:10px;" placeholder="Write more about this reference" />*@

                                            @*<span class="projectuser-text">Description :&nbsp;</span>@Html.DisplayFor(modelItem => item.Description);
                                                <br />*@
                        }
                                        }
                                    </div>
                                    <div class="colorStrip fW" style=" background-color: #CCECCC;">
                                        <span class="projectimg-icon">
                                            <a href="javascript:void(0)" onclick="OpenPopUpImages(@item.id)">
                                                <img src="~/Content/WorldRef/images/addImages.png" title="Add images/videos" />
                                            </a>

                                        </span>

                                        @foreach (var img in item.listOfImages)
                                        {

                                            if (j == 0)
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="fancybox" data-group="@k">

                                                        <img src="~/Content/WorldRef/images/viewimages.png" title="View images/videos" />

                                                    </a>
                                                </span>
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenPopUpDeleteImages(@item.id)">
                                                        <img src="~/Content/WorldRef/images/deleteImg.png" title="Delete images/videos" />

                                                    </a>
                                                </span>
                                                j++;
                                            }
                                        }
                                        <span class="projectimg-icon">
                                            <a href="javascript:void(0)" onclick="OpenPopUp(@item.id)">
                                                <img src="~/Content/WorldRef/images/edit-project.png" title="Edit Project" />
                                            </a>
                                        </span>

                                        @*@if (item.creditM == 1)
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenCreditPopUp(@item.id)">
                                                        <img src="~/Content/images/creditred.png" title="Approve their Contribution" />

                                                    </a>

                                                </span>
                                            }
                                            else
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenCreditPopUp(@item.id)">
                                                        <img src="~/Content/images/credit.png" title="Approve their Contribution" />

                                                    </a>
                                                </span>
                                            }
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenApprovedCreditPopUp(@item.id)">
                                                    <img src="~/Content/images/viewcredits.png" title="View Contributors" />

                                                </a>
                                            </span>

                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenPopUpCertificates(@item.id)">
                                                    <img src="~/Content/images/btUpload.png" title="Upload Certificates" />

                                                </a>
                                            </span>


                                            @if (item.reviewFag != "0")
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenUserReview(@item.id)">
                                                        <img src="/Content/WorldRef/images/red-docs.png" id="showR" title="Approve Review">
                                                    </a>

                                                </span>
                                            }
                                            else
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" onclick="OpenUserReview(@item.id)">
                                                        <img src="/Content/WorldRef/images/Comment.png" title="View Review" id="showB">
                                                    </a>
                                                </span>
                                            }*@
                                        @*@if (@item.countflg == "True")
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(@item.id)">
                                                        <img src="/Content/WorldRef/images/like-button.png" title="Total Likes" id="show">
                                                        <img src="/Content/WorldRef/images/like-20.png" style="display: none;" title="Total Likes" id="hide">
                                                        <label class="like-color">@item.countApprove</label>
                                                    </a>

                                                </span>
                                            }
                                            else
                                            {
                                                <span class="projectimg-icon">
                                                    <a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(@item.id)">
                                                        <img src="/Content/WorldRef/images/like-20.png" title="Total Likes">
                                                        <label class="like-color">@item.countApprove</label>
                                                    </a>

                                                </span>


                                            }*@
                                    </div>
                                </div>
                            </div>
                            @foreach (var img in item.listOfImages)
                            {

                                if (img.ImagePath.Contains(".png") || img.ImagePath.Contains(".bmp") || img.ImagePath.Contains(".jpg"))
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay" src="~/uploads/@img.ImagePath" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/@img.ImagePath" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    i++;
                                }
                                else if (img.Link == false)
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay1" src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }

                                }
                                else
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay2" src="~/uploads/video-play-2.gif">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                }
                            }
                        </li>

                    }
                    else
                    {
                        <li class="project one-third">
                            <div class="proj-description responsiveQ fW" style="background: #FBF2F0;">
                                <div class="list_container">
                                    <div class="scroll-hydro">
                                        <span class="projectuser-text">Reference Name </span>:  @Html.DisplayFor(modelItem => item.ProjectName)
                                        <br />
                                        <span class="projectuser-text">By </span>:  @Html.DisplayFor(modelItem => item.OrganizationName)
                                        <br />
                                        <span class="projectuser-text">For </span>:   @Html.DisplayFor(modelItem => item.CustomerName)
                                        <br />
                                        <span class="projectuser-text">For Industry </span>:       @Html.DisplayFor(modelItem => item.CustomerIndustryType)
                                        <br />
                                        <span class="projectuser-text">Contribution </span>:         @Html.DisplayFor(modelItem => item.Type)
                                        <br />
                                        <span class="projectuser-text">Country of Execution </span>:          @Html.DisplayFor(modelItem => item.Country)
                                        <br />
                                        <span class="projectuser-text">Status </span>:       @Html.DisplayFor(modelItem => item.Status)
                                        <br />
                                        <span class="projectuser-text">Year of Execution </span>:       @Html.DisplayFor(modelItem => item.Year)
                                        <br />
                                        <span class="projectuser-text">We Are </span>:       <span style="    padding-left: 11px;">@Html.DisplayFor(modelItem => item.UserType)</span>
                                        <br />
                                        <span class="projectuser-text">Search Keywords </span>:@Html.DisplayFor(modelItem => item.SearchKeywords)
                                        <br />
                                        @{
                        if (string.IsNullOrEmpty(item.Description))
                        {
                            <span class="projectuser-text">Description :</span><textarea class="form-control" id="@item.id" placeholder="Write more about this reference"></textarea>
                                            <div class="buttonDiv">
                                                <input type="button" class="saveButton" onclick="SaveDescription(@item.id)" value="Save" />
                                            </div>
                        }
                        else
                        {
                            <span class="projectuser-text">Description :</span>
                                            @Html.TextAreaFor(model => item.Description, new { @class = "form-control", Description = item.Description, id = @item.id, placeholder = "Write more about this reference" })
                                            <div class="buttonDiv">
                                                <input type="button" class="saveButton" onclick="SaveDescription(@item.id)" value="Save" />
                                            </div>
                        }
                                        }
                                    </div>
                                    <div class="colorStrip fW" style=" background-color: #E4A5A5;">
                                      

                                     
                                        <span class="projectimg-icon">
                                            <a href="javascript:void(0)" onclick="OpenPopUp(@item.id)">
                                                <img src="~/Content/WorldRef/images/edit-project.png" title="Edit Project" />
                                            </a>
                                        </span>
                                        @*@if (item.creditM == 1)
                                        {
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenCreditPopUp(@item.id)">
                                                    <img src="~/Content/images/creditred.png" title="Approve their Contribution" />

                                                </a>

                                            </span>
                                        }
                                        else
                                        {
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenCreditPopUp(@item.id)">
                                                    <img src="~/Content/images/credit.png" title="Approve their Contribution" />

                                                </a>
                                            </span>
                                        }
                                      
                                        @if (item.reviewFag != "0")
                                        {
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenUserReview(@item.id)">
                                                    <img src="/Content/WorldRef/images/red-docs.png" id="showR" title="Approve Review">
                                                </a>

                                            </span>
                                        }
                                        else
                                        {
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" onclick="OpenUserReview(@item.id)">
                                                    <img src="/Content/WorldRef/images/Comment.png" title="View Review" id="showB">
                                                </a>
                                            </span>
                                        }
                                        @if (@item.countflg == "True")
                                        {
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" class="fancybox" onclick="GetLikedUserOnProject(@item.id)">
                                                    <img src="/Content/WorldRef/images/like-button.png" title="Total Likes" id="show">
                                                    <img src="/Content/WorldRef/images/like-20.png" style="display: none;" title="Total Likes" id="hide">
                                                    <label class="like-color">@item.countApprove</label>
                                                </a>

                                            </span>
                                        }
                                        else
                                        {
                                            <span class="projectimg-icon">
                                                <a href="javascript:void(0)" class="fancybox" onclick="GetLikedUserOnProject(@item.id)">
                                                    <img src="/Content/WorldRef/images/like-20.png" title="Total Likes">
                                                    <label class="like-color">@item.countApprove</label>
                                                </a>

                                            </span>
                                            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                                            <script type="IN/Share">
                                            </script>

                                        }*@
                                    </div>
                                </div>
                            </div>
                            @foreach (var img in item.listOfImages)
                            {

                                if (img.ImagePath.Contains(".png") || img.ImagePath.Contains(".bmp") || img.ImagePath.Contains(".jpg"))
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay" src="~/uploads/@img.ImagePath" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/@img.ImagePath" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    i++;
                                }
                                else if (img.Link == false)
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay1" src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="~/uploads/@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }

                                }
                                else
                                {
                                    if (i == 0)
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img id="imageDisplay2" src="~/uploads/video-play-2.gif">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image_tn" style="display: none">
                                            <a href="@img.ImagePath" data-thumbnail="~/uploads/@img.ImagePath" class="html5lightbox" data-group="@k">
                                                <img src="~/uploads/video-play-2.gif" width="288" height="170">
                                            </a>
                                        </div>
                                    }
                                }
                            }
                        </li>

                    }


                    k++;
                }
            </ul>
        }
        <div id="LikedUser" style="display: none;">
        </div>
        <br class="clear">
        <!-- /article -->
    </section>
    <div id="popupdiv" title="Reason For Disapprove" style="display: none;">
    </div>
    <div id="inline12" style="display: none;">
        <div class="profile_part2">
            <div id="ReviewList"></div>
        </div>
    </div>
    <div id="inline4" style="display: none;">

        <div class="profile_part2" style="width: 100%;">
            <h4 class="fW" style="margin: 7px 0;">Create Profile Url</h4>
            <ul class="pE heigt" id="CommentList" style="margin-bottom: 10px;">
                <li>

                    <div id="shwErrorMesgProfile"></div>
                    <span>www.worldref.org/</span>

                    <input type="text" id="txtUrl" name="Url" placeholder="e.g. Thomos" />
                </li>
            </ul>
            <div class="centreAlign">
                <label class="lp">
                    <input class="pEButton" type="submit" value="Save" onclick="saveWorldrefProfileUrl();" />

                </label>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-1.10.1.min.js"></script>
<script src="~/Content/css/Fancy/jquery.fancybox.js"></script>
<script>
    $(document).ready(function () {
        var str = location.href.toLowerCase();
        $(".navigation li a").each(function () {
            if (str.indexOf(this.href.toLowerCase()) > -1) {
                $("li.highlight").removeClass("highlight");
                $(this).parent().addClass("highlight");
            }
        });
    })
</script>
<script type="text/javascript">
    function saveWorldrefProfileUrl() {
        var textValue = document.getElementById("txtUrl").value;
        if (textValue == "") {
            alert('Please enter profile name.');
            document.getElementById('txtUrl').focus();
            return false;
        }
        $.ajax({
            url: "/WorldRef/SaveProfileUrl",
            type: 'POST',
            data: JSON.stringify({ "txtUrl": textValue }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response == "exist") {
                    $('#shwErrorMesgProfile').empty().html("Profile name already exist. Please try another profile name.");
                }
                else if (response == "done") {
                    document.getElementById("txtUrl").value = "";
                    alert("Successfully saved.");
                    $('#shwErrorMesgProfile').empty().html();
                    $.fancybox.close();
                }
                else {
                    document.getElementById("txtUrl").value = "";
                    $('#shwErrorMesgProfile').empty().html("There have been some error. Please try again.");
                }
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }
</script>
<script>
    var message = '@msgsucc';

    if (message != "") {
        alert(message);
    }
    $(document).ready(function () {
        var $filter = $('#filter'),
            $paragraphs = $('#content table tbody tr');
        $("#filter").keyup(function () {
            var value = $filter.val(),
            matcher = new RegExp('\\b' + value, 'i');
            $paragraphs.each(function () {
                var $p = $(this),
                    content = $p.text();
                if (matcher.test(content)) {
                    $p.show();
                } else {
                    $p.hide();
                }
            });
        });
    });
    function ShowDataAgain() {
        document.getElementById('tblData').innerHTML = "";
        $.ajax({
            url: "/WorldRef/ListExcelProjectsAdminJason",
            type: 'POST',
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var Result = "";
                $.each(response, function (id, model) {
                    var date;
                    if (model.Createdon != null) {
                        date = new Date(parseInt(model.Createdon.substr(6))).toLocaleDateString();
                    }
                    Result += '<tr><td>' + model.OrganizationName + '</td>';
                    Result += '<td>' + model.CustomerName + '</td>';
                    Result += '<td>' + model.ProjectName + '</td>';
                    Result += '<td>' + model.Type + '</td>';
                    Result += '<td>' + model.Year + '</td>';
                    Result += '<td>' + model.Country + '</td>';
                    Result += '<td>' + date + '</td>';
                    Result += '<td><input type="checkbox" name="ids" value="' + model.Id + '"/>';
                    Result += '<input type="button" id="' + model.Id + '" name="Disapprove" value="Disapprove" onclick="showmodalpopup(this.id);"/></td></tr>';
                });
                Result += '</table>';
                $("#tblData").html(Result);
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }
    function GetTotalUnPublishedReview(id) {
        $("#loading").show();
        $.ajax({
            url: "/WorldRef/TotalUnpblishedReview",
            type: 'POST',
            data: JSON.stringify({ "id": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                if (data == "") {
                    var Result = "<div class='profile_part2 border_design popBoxWidth_fix'><h4 class='fancyCu_h4'>Unpublished Testimonial</h4>";
                    Result += " <div class='noRecord fW'>No Testimonial Available. </div></div>";
                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    $("#loading").hide();

                }

                else {
                    var Result = "<div style='width:480px;'><h4 style='margin:0 0 7px 0;'>Unpublished Testimonial</h4>";
                    for (i = 0; i < data.length; i++) {
                        if (i % 2 == 0) {
                            Result += '<div class="noreview">';
                        }
                        else {
                            Result += '<li class="mbColor1">';
                        }

                        Result += "<span style='font-weight:bold;color: #636262;'></span>" + data[i].Review + "</li>";

                    }

                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    $("#loading").hide();
                }
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });

    }
    function GetTotalPublishedReview(id) {
        $("#loading").show();
        $.ajax({
            url: "/WorldRef/TotalpblishedReview",
            type: 'POST',
            data: JSON.stringify({ "id": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                if (data == "") {
                    var Result = "<div class='profile_part2 border_design popBoxWidth_fix'><h4 class='fancyCu_h4'>Published Testimonial</h4>";
                    Result += " <div class='noRecord fW'>No Testimonial Available. </div></div>";
                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    $("#loading").hide();
                }
                else {
                    var Result = "<div class='profile_part2 border_design popBoxWidth_fix'><h4 class='fancyCu_h4'>Published Testimonial</h4>";
                    for (i = 0; i < data.length; i++) {
                        if (i % 2 == 0) {
                            Result += '<div class="noreview">';
                        }
                        else {
                            Result += '<li class="mbColor1">';
                        }

                        Result += "<span style='font-weight:bold;color: #636262;'></span>" + data[i].Review + "</li>";

                    }

                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    $("#loading").hide();
                }
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function ShowApprovedData() {
        $(".liaD").addClass("active");
        $("#loading").show();
        $("#showApproved").removeClass("badge1 activeApproveShow");
        $("#apprvCount").hide();
        $("#AllProjects").removeClass("active");
        $("#showDisapproved").removeClass("active");
        $("#hideDisapproved").removeClass("active");
        document.getElementById('ModelData').innerHTML = "";
        $.ajax({
            url: "/WorldRef/ListExcelProjectsUserApproved",
            type: 'POST',
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var Result = "";
                $.each(response, function (id, model) {
                    if (model.IsAdminAuthorized == true) {
                        Result += '<li class="project one-third"><div class="proj-description responsiveQ"><div class="list_container">';
                        Result += ' <div class="scroll-hydro"><span class="projectuser-text">Project Name </span>: ' + model.ProjectName + '<br />';
                        Result += ' <span class="projectuser-text">By </span>: ' + model.OrganizationName + '<br />';
                        Result += ' <span class="projectuser-text">For </span>: ' + model.CustomerName + '<br />';
                        Result += ' <span class="projectuser-text">For Industry </span>: ' + model.CustomerIndustryType + ' <br />';
                        Result += ' <span class="projectuser-text">Contribution </span>: ' + model.Type + ' <br />';
                        Result += ' <span class="projectuser-text">Country of Execution </span>: ' + model.Country + ' <br />';
                        Result += ' <span class="projectuser-text">Status </span>: ' + model.Status + ' <br />';
                        Result += ' <span class="projectuser-text">Year of Execution </span>: ' + model.Year + ' <br />';
                        if (model.Description == null) {
                            model.Description = "";
                        }
                        Result += ' <span class="projectuser-text">Description </span>: ' + model.Description + ' <br />';
                        Result += ' <span class="projectuser-text">We are </span>: <span style="padding-left: 11px;">' + model.UserType + ' </span></div>';
                        Result += '<div class="colorStrip fW" style=" background-color: #E4A5A5;">';
                        if (model.creditM == 1) {
                            Result += '<span class="projectimg-icon"><a href="javascript:void(0)" onclick="OpenCreditPopUp(' + model.id + ')"><img src="/Content/images/creditred.png" title="Approve their Contribution" /></a></span>';
                        }
                        else {
                            Result += '<span class="projectimg-icon">' +
                                '<a href="javascript:void(0)" onclick="OpenCreditPopUp(' + model.id + ')">' +
                                   ' <img src="/Content/images/credit.png" title="Approve their Contribution" /> </a> </span>';
                        }
                        Result += '<span class="projectimg-icon">' +
                                                    '<a href="javascript:void(0)" onclick="OpenApprovedCreditPopUp(' + model.id + ')">' +
                                                        '<img src="/Content/images/viewcredits.png" title="View Contributors" /> </a></span>';
                        if (model.reviewFag != "0") {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" onclick="OpenUserReview(' + model.id + ')">' +
                                    '<img src="/Content/WorldRef/images/red-docs.png" id="showR" title="Approve Testimonial"></a> </span>';
                        }
                        else {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" onclick="OpenUserReview(' + model.id + ')">' +
                                    '<img src="/Content/WorldRef/images/Comment.png" title="View Testimonial" id="showB"> </a> </span>';
                        }
                        if (model.countflg == "True") {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(' + model.id + ')">' +
                                  '<img src="/Content/WorldRef/images/like-button.png" title="Total Likes" id="show">' +
                                   '<img src="/Content/WorldRef/images/like-20.png" style="display: none;" title="Total Likes" id="hide">' +
                                    '<label class="like-color">' + model.countApprove + '</label></a></span>';
                        }
                        else {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(' + model.id + ')">' +
                                   '<img src="/Content/WorldRef/images/like-20.png" title="Total Likes">' +
                                    '<label class="like-color">' + model.countApprove + '</label></a> </span>';
                        }

                        Result += '<span class="projectimg-icon">' +
                              '<a href="javascript:void(0)" class="fancybox" onclick = "GetTotalPublishedReview(' + model.id + ')">' +
                                  '<img src="/Content/WorldRef/images/revew.png" title="Total Published Testimonial"></a> </span>';

                        Result += '<span class="projectimg-icon">' +
                           '<a href="javascript:void(0)" class="fancybox" onclick = "GetTotalUnPublishedReview(' + model.id + ')">' +
                               '<img src="/Content/images/unpublished.png" title="Total UnPublished Testimonial"></a> </span>';
                        Result += '</div></div>';
                    }
                    else {
                        var date;
                        if (model.Createdon != null) {
                            date = new Date(parseInt(model.Createdon.substr(6))).toLocaleDateString();
                        }
                        Result += '<li class="project one-third"><div class="proj-description responsiveQ fW" style="background:#E7FFE7;"><div class="list_container"> ';
                        Result += '<div class="scroll-hydro"> <span class="projectuser-text">Project Name </span>: ' + model.ProjectName + '   <br />';
                        Result += ' <span class="projectuser-text">By </span>: ' + model.OrganizationName + '<br />';
                        Result += ' <span class="projectuser-text">For </span>: ' + model.CustomerName + '<br />';
                        Result += ' <span class="projectuser-text">For Industry </span>: ' + model.CustomerIndustryType + ' <br />';
                        Result += ' <span class="projectuser-text">Contribution </span>: ' + model.Type + ' <br />';
                        Result += ' <span class="projectuser-text">Country of Execution </span>: ' + model.Country + ' <br />';
                        Result += ' <span class="projectuser-text">Status </span>: ' + model.Status + ' <br />';
                        Result += ' <span class="projectuser-text">Year of Execution </span>: ' + model.Year + ' <br />';
                        if (model.Description == null) {
                            model.Description = "";
                        }
                        Result += ' <span class="projectuser-text">Description </span>: ' + model.Description + ' <br />';
                        Result += ' <span class="projectuser-text">We are </span>: <span style="padding-left: 11px;">' + model.UserType + ' </span></div>';
                        Result += '<div class="colorStrip fW" style=" background-color: #CDF3CD;">';
                        if (model.creditM == 1) {
                            Result += '<span class="projectimg-icon"><a href="javascript:void(0)" onclick="OpenCreditPopUp(' + model.id + ')"><img src="/Content/images/creditred.png" title="Approve their Contribution" /></a></span>';
                        }
                        else {
                            Result += '<span class="projectimg-icon">' +
                                '<a href="javascript:void(0)" onclick="OpenCreditPopUp(' + model.id + ')">' +
                                   ' <img src="/Content/images/credit.png" title="Approve their Contribution" /> </a> </span>';
                        }
                        Result += '<span class="projectimg-icon">' +
                                                    '<a href="javascript:void(0)" onclick="OpenApprovedCreditPopUp(' + model.id + ')">' +
                                                        '<img src="/Content/images/viewcredits.png" title="View Contributors" /> </a></span>';
                        if (model.reviewFag != "0") {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" onclick="OpenUserReview(' + model.id + ')">' +
                                    '<img src="/Content/WorldRef/images/red-docs.png" id="showR" title="Approve Testimonial"></a> </span>';
                        }
                        else {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" onclick="OpenUserReview(' + model.id + ')">' +
                                    '<img src="/Content/WorldRef/images/Comment.png" title="View Testimonial" id="showB"> </a> </span>';
                        }

                        if (model.countflg == "True") {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(' + model.id + ')">' +
                                  '<img src="/Content/WorldRef/images/like-button.png" title="Total Likes" id="show">' +
                                   '<img src="/Content/WorldRef/images/like-20.png" style="display: none;" title="Total Likes" id="hide">' +
                                    '<label class="like-color">' + model.countApprove + '</label></a></span>';
                        }
                        else {
                            Result += '<span class="projectimg-icon">' +
                               '<a href="javascript:void(0)" class="fancybox" onclick = "GetLikedUserOnProject(' + model.id + ')">' +
                                   '<img src="/Content/WorldRef/images/like-20.png" title="Total Likes">' +
                                    '<label class="like-color">' + model.countApprove + '</label></a> </span>';
                        }

                        Result += '<span class="projectimg-icon">' +
                              '<a href="javascript:void(0)" class="fancybox" onclick = "GetTotalPublishedReview(' + model.id + ')">' +
                                  '<img src="/Content/WorldRef/images/revew.png" title="Total Published Testimonial"></a> </span>';

                        Result += '<span class="projectimg-icon">' +
                           '<a href="javascript:void(0)" class="fancybox" onclick = "GetTotalUnPublishedReview(' + model.id + ')">' +
                               '<img src="/Content/images/unpublished.png" title="Total UnPublished Testimonial"></a> </span>';
                        Result += '</div></div>';
                    }
                    // end code for show notifications.
                });
                Result += "</div></div></div></li>";
                $("#ModelData").html(Result);
                $("#loading").hide();
                var max = 0;
                $(".scroll-hydro").each(function () {
                    max = Math.max(max, $(this).height());
                });
                $(".list_container").height(max + 50);
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function ShowDisApprovedData() {
        $(".liaD").addClass("active");
        $("#loading").show();
        $("#showApproved").removeClass("active");
        $("#hideApproved").removeClass("active");
        $("#disAppCount").hide();
        $("#AllProjects").removeClass("active");
        $("#showDisapproved").removeClass("badge2 activeDisApproveShow");
        document.getElementById('ModelData').innerHTML = "";
        $.ajax({
            url: "/WorldRef/ListExcelProjectsUserDisApproved",
            type: 'POST',
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var Result = "";
                $.each(response, function (id, model) {
                    //alert(model.IsAdminUnAuthorized);
                    if (model.IsAdminUnAuthorized == true) {
                        var date;
                        if (model.Createdon != null) {
                            date = new Date(parseInt(model.Createdon.substr(6))).toDateString();
                        }
                        Result += '<li class="project one-third"><div class="proj-description responsiveQ fW" style="background-color:#FBF2F0;"><div class="list_container"> <div class="scroll-hydro">';
                        Result += ' <span class="projectuser-text">Project Name </span>:' + model.ProjectName + '   <br />';
                        Result += ' <span class="projectuser-text">By </span>:' + model.OrganizationName + '<br />';
                        Result += ' <span class="projectuser-text">For </span>:' + model.CustomerName + '<br />';
                        Result += ' <span class="projectuser-text">For Industry </span>:' + model.CustomerIndustryType + ' <br />';
                        Result += ' <span class="projectuser-text">Contribution </span>: ' + model.Type + ' <br />';
                        Result += ' <span class="projectuser-text">Country of Execution </span>: ' + model.Country + ' <br />';
                        Result += ' <span class="projectuser-text">Status </span>: ' + model.Status + ' <br />';
                        Result += ' <span class="projectuser-text">Year of Execution </span>: ' + model.Year + ' <br />';
                        if (model.Description == null) {
                            model.Description = "";
                        }
                        Result += ' <span class="projectuser-text">Description </span>: ' + model.Description + ' <br />';
                        Result += ' <span class="projectuser-text">We are </span>: <span style="padding-left: 11px;">' + model.UserType + ' </span><br />';
                        Result += ' <span class="projectuser-text">DisApproved Reason </span>: ' + model.DisApproveReason + ' <br /> </div>';
                    }
                    else {
                        var date;
                        if (model.Createdon != null) {
                            date = new Date(parseInt(model.Createdon.substr(6))).toDateString();
                        }
                        Result += '<li class="project one-third"><div class="proj-description responsiveQ fW" style="background-color:#FBF2F0;"><div class="list_container"> <div class="scroll-hydro">';
                        Result += ' <span class="projectuser-text">Project Name </span>:' + model.ProjectName + '   <br />';
                        Result += ' <span class="projectuser-text">By </span>:' + model.OrganizationName + '<br />';
                        Result += ' <span class="projectuser-text">For </span>:' + model.CustomerName + '<br />';
                        Result += ' <span class="projectuser-text">For Industry </span>:' + model.CustomerIndustryType + ' <br />';
                        Result += ' <span class="projectuser-text">Contribution </span>: ' + model.Type + ' <br />';
                        Result += ' <span class="projectuser-text">Country of Execution </span>: ' + model.Country + ' <br />';
                        Result += ' <span class="projectuser-text">Status </span>: ' + model.Status + ' <br />';
                        Result += ' <span class="projectuser-text">Year of Execution </span>: ' + model.Year + ' <br />';
                        if (model.Description == null) {
                            model.Description = "";
                        }
                        Result += ' <span class="projectuser-text">Description </span>: ' + model.Description + ' <br />';
                        Result += ' <span class="projectuser-text">We are </span>: <span style="padding-left: 11px;">' + model.UserType + ' </span><br />';
                        Result += ' <span class="projectuser-text">DisApproved Reason </span>: ' + model.DisApproveReason + ' <br /> </div>';
                    }
                });
                Result += '</div></div></li>';
                $("#ModelData").html(Result);
                $("#loading").hide();
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function GetData(id) {
        $(".ui-dialog").hide();
        $(".ui-widget-overlay").hide();
        var s1 = document.getElementById('txt' + id).value;

        $.ajax({
            url: "/WorldRef/DisApprove",
            type: 'POST',
            data: JSON.stringify({ "id": id, "Reason": s1 }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                ShowDataAgain();
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });

    }
    function SaveDescription(id) {
        y = document.getElementById(id).value;
        $.ajax({
            url: "/WorldRef/SaveDescription",
            type: 'POST',
            data: JSON.stringify({ "id": id, "DescriptionString": y }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                alert("Description Added Successfully")
                window.location.href = '/worldref/ListExcelProjectsUser';
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });

    }
    function showmodalpopup(id) {
        var url = "/WorldRef/AddProjectImages?ProjectId=" + id;
        window.location.href = url;
    };
    function showmodalpopup2(id) {
        var url = "/WorldRef/EditProject?projectId=" + id;
        window.location.href = url;
    };
    function showmodalpopup1(id) {
        var url = "/WorldRef/ViewImages?ProjectId=" + id;
        window.location.href = url;

    };
    $(document).ready(function () {
        $('.fancybox').fancybox();
        var $filter = $('#filter'),
        $paragraphs = $('#ModelData li');
        $("#filter").keyup(function () {
            var value = $filter.val(),
            matcher = new RegExp('\\b' + value, 'i');
            $paragraphs.each(function () {
                var $p = $(this),
                content = $p.text();

                if (matcher.test(content)) {
                    $p.show();
                } else {
                    $p.hide();
                }
            });
        });
    });
    function OpenPopUp(id) {
        $("#loading").show();
        $.ajax({
            url: "/WorldRef/EditparticularProject",
            type: 'POST',
            data: JSON.stringify({ "projectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                var foo = $("#ModelpopUp").html(response);
                $.fancybox(foo);
                $("#loading").hide();
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function OpenPopUpImages(id) {
        $("#loading").show();
        $.ajax({
            url: "/WorldRef/_addProjectImage",
            type: 'POST',
            data: JSON.stringify({ "projectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var foo = $("#ModelpopUp").html(response);

                $.fancybox(foo);
                $("#loading").hide();


            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }
    function OpenPopUpDeleteImages(id) {

        $("#loading").show();
        $.ajax({
            url: "/WorldRef/_deleteProjectImage",
            type: 'POST',
            data: JSON.stringify({ "ProjectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var foo = $("#ModelpopUp").html(response);
                $.fancybox(foo);
                $("#loading").hide();


            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function OpenPopUpAddProject() {
        $.ajax({
            url: "/WorldRef/AddProjects",
            type: 'POST',
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                var foo = $("#ModelpopUp").html(response);
                $.fancybox(foo);

            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }
    function OpenCreditPopUp(id) {
        $("#loading").show();
        $.ajax({
            url: "/WorldRef/ShowCreditForApprove",
            type: 'POST',
            data: JSON.stringify({ "projectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                var foo = $("#ModelpopUp").html(response);
                $.fancybox(foo);
                $("#loading").hide();
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function OpenPopUpCertificates(id) {
        $("#loading").show();
        $.ajax({
            url: "/WorldRef/AddMoreCertificates",
            type: 'POST',
            data: JSON.stringify({ "projectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var foo = $("#ModelpopUp").html(response);
                $.fancybox(foo);
                $("#loading").hide();


            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
    function OpenApprovedCreditPopUp(id) {
        $("#loading").show(); OpenUserReview
        $.ajax({
            url: "/WorldRef/ListOfApprovedCredit",
            type: 'POST',
            data: JSON.stringify({ "projectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                var foo = $("#ModelpopUp").html(response);
                $.fancybox(foo);
                $("#loading").hide();
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
</script>
<script type="text/javascript">
    function ShowAllReview(projectId) {
        $("#showR").hide();
        $("#showB").show();
        $("#loading").show();
        $.ajax({
            type: "POST",
            url: '/WorldRef/GetAllComents',
            data: JSON.stringify({ "projectId": projectId }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    var Result = "<div style='width:480px;'><h4 style='margin:0 0 7px 0;'>Testimonials</h4>";
                    Result += " <div class='noRecord fW'>No Testimonial Available. </div></div>";
                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    $("#loading").hide();
                    // $.fancybox("#inline12");
                }
                    //CommentList
                else {
                    var Result = "<div style='width:480px;'><h4 style='margin:0 0 7px 0;'>Testimonial</h4>";
                    for (i = 0; i < data.length; i++) {
                        if (i % 2 == 0) {
                            Result += '<div class="noreview">';
                        }
                        else {
                            Result += '<li class="mbColor1">';
                        }
                        if (data[i].ContactPerson == "i4i Testimonial") {
                            Result += "<span style='font-weight:bold;color: #636262;'>" + data[i].ContactPerson + "</span> : <span style='font-weight:600;color: #636262;'> " + data[i].Review + " </span></div>";
                        }
                        else {
                            Result += "<span style='font-weight:bold;color: #636262;'>" + data[i].ContactPerson + "</span> : " + data[i].Review + "</li>";
                        }
                    }

                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    $("#loading").hide();
                }
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var megamenu = { "fade_speed": "fast", "slide_speed": "fast", "timeout": "300" };
    /* ]]> */
</script>
<script type="text/javascript">
    function OpenUserReview(id) {
        $.ajax({
            url: "/WorldRef/AdminReviewList1",
            type: 'POST',
            data: JSON.stringify({ "projectId": id }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {


                var foo = $("#ReviewList").html(response);
                $.fancybox(foo);

            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }
    function PublishProjectReview(id, trid) {
        var review = document.getElementById('rvr' + id).value;
        $.ajax({
            url: "/WorldRef/PublishProjectReview",
            type: 'POST',
            data: JSON.stringify({ "id": id, "Show": "true", "review": review }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                $("#SH" + trid).html("");
                alert("Testimonial Publish Successfully");
                window.location.href = "../Worldref/ListExcelProjectsUser";
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".fancybox").fancybox();
        var message = '@msg';
        if (message != "") {
            $.fancybox("#ModelpopUp");
        }
    });
    function GetUserProfileName() {
        $.ajax({
            url: "/WorldRef/GetUserProfileName",
            type: 'POST',
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response == "") {

                }
                else {
                    document.getElementById("txtUrl").value = response;
                }
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });

    }
    function ShowAllLikes(projectId) {
        $.ajax({
            type: "POST",
            url: '/WorldRef/GetAllComents',
            data: JSON.stringify({ "projectId": projectId }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    var Result = "<li style='color=black;font-size: 17px;color: rgb(116, 110, 110);font-weight: 600;margin-bottom: 20px;'>Testimonial</li>";
                    Result += "<span style='font-weight:bold;color: #636261;'>No Testimonial Available. </span></li>";
                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                    // $.fancybox("#inline12");
                }
                    //CommentList
                else {
                    var Result = "<li style='color=black;font-size: 17px;color: rgb(116, 110, 110);font-weight: 600;margin-bottom: 20px;'>Testimonial</li>";
                    for (i = 0; i < data.length; i++) {
                        if (i % 2 == 0) {
                            Result += '<li class="mbColor2">';
                        }
                        else {
                            Result += '<li class="mbColor1">';
                        }
                        if (data[i].ContactPerson == "i4i Testimonial") {
                            Result += "<span style='font-weight:bold;color: #636261;'>" + data[i].ContactPerson + "</span> : <span style='font-weight:600;'> " + data[i].Review + " </span></li>";
                        }
                        else {
                            Result += "<span style='font-weight:bold; color: #636261;'>" + data[i].ContactPerson + "</span> : " + data[i].Review + "</li>";
                        }
                    }

                    var foo = $("#ReviewList").html(Result);
                    $.fancybox(foo);
                }
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });

    }
</script>
<script type="text/javascript">

    function GetLikedUserOnProject(projectId) {
        $("#show").hide();
        $("#hide").show();
        $("#loading").show();
        $.ajax({
            type: "POST",
            url: '/WorldRef/GetProjectLikeUserOnProject',
            data: JSON.stringify({ "projectId": projectId }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {//CommentList
                var Result = "<div class='profile_part2 popBoxWidth_fix'><h4 class='fancyCu_h4'>Users Who Liked This Project</h4>";
                for (i = 0; i < data.length; i++) {
                    if (i % 2 == 0) {
                        Result += '<div class="noreview mbColor2">';
                    }
                    else {
                        Result += '<div class="noreview mbColor1">';
                    }

                    Result += "<span style='font-weight:bold;color: #636261;'>" + data[i];
                }
                Result += "</div></div>";

                var foo = $("#LikedUser").html(Result);
                $.fancybox(foo);
                $("#loading").hide();
                //$("#LikedUser").html(Result);
                //$.fancybox("#LikedUser");
            },
            error: function () {
                $("#loading").hide();
                alert("Failed! Please try again.");
            }
        });
    }

</script>

<script>
    function lnksuccess(url) {
        alert("url = " + url + "  shared successfully");
    }
    function lnkerror(url) {
        alert("something goes wrong in");
        }
    </script>